@page "/"

@inject ComponentEventBus bus
@implements IDisposable

<div class="index__wrapper">

    <div class="index__catalog">
        <Catalog />
    </div>

    <div class="index__warehouse">
        <Warehouse />
    </div>

    <div class="index__shop">
        <Shop />
    </div>

    <div class="index__report">
        <Report />
    </div>

</div>

@code{
    void IDisposable.Dispose()
    {
        bus.UnsubscribeAll();
    }
}