.index__wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "catalog catalog warehouse"
        "shop shop shop"
        "report report report";
    gap: 1em;
}

.index__catalog {
    grid-area: catalog;
}

.index__warehouse {
    grid-area: warehouse;
}

.index__shop {
    grid-area: shop;
}

.index__report {
    grid-area: report;
    min-height: 10vh;
}
