.catalog__wrapper {
    background-color: hsl(48,100%,95%);
    padding: 1em;
}

h3 {
    text-align: center;
    color: hsl(40,100%,30%);
    margin-bottom: .5em;
}

.catalog__table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid gray;
    text-align: left;
    color: darkslategray;
}

.catalog__item-header--id {
    width: 3em;
    text-align: center;
}

.catalog__item-header--category {
    width: 8em;
    text-align: center;
}

.catalog__item-header--color {
    width: 6em;
    text-align: center;
}

.catalog__item-header--options {
    width: 7em;
    text-align: center;
}
