
td {
    border-top: 1px solid lightgray;
    padding: .25em .5em;
}

.catalog-item__cell--id,
.catalog-item__cell--category {
    text-align: center;
}

.catalog-item__cell--color div {
    display: flex;
    justify-content: center;
}

.catalog-item__color {
    width: 3em;
    height: 2em;
    border-radius: .25em;
}

.catalog-item__options-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .25em;
}

.catalog-item-options__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    background-color: hsl(45,100%,95%);
    color: dimgrey;
    width: 2em;
    height: 2em;
    border-radius: .25em;
}

    .catalog-item-options__button:hover {
        background-color: floralwhite;
        color: black;
    }

.catalog-item-options__button--active {
    background-color: hsl(40,100%,90%);
    color: black;
    box-shadow: inset 2px 2px 2px rgba(0 0 0 / 0.15);
}

.catalog-item-options__button--inactive {
    background-color: hsl(40,100%,95%);
    color: gray;
}
