@page "/calculator"
@inject ComponentEventBus bus

<div class="calculator__wrapper">

    <ArgumentList />

    <ResultList />

    <SummaryList />

</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var args = new List<(Guid id, string name)>
        {
                (Guid.NewGuid(), "A"),
                (Guid.NewGuid(), "B"),
            };

            await bus.Publish<ArgumentAddEvent>(new(args[0].id, args[0].name));
            await bus.Publish<ArgumentAddEvent>(new(args[1].id, args[1].name));

            var results = new List<ResultModel>
        {
                new()
                {
                    Id=Guid.NewGuid(),
                    Operation = OperationEnum.Add,
                    Parameters=args.Select(r => new ParameterModel { Id = r.id, Name = r.name }).ToList()
                },
                new()
                {
                    Id=Guid.NewGuid(),
                    Operation = OperationEnum.Subtract,
                    Parameters=args.Select(r => new ParameterModel { Id = r.id, Name = r.name }).ToList()
                },
            };

            await bus.Publish(new ResultAddEvent(results[0]));
            await bus.Publish(new ResultAddEvent(results[1]));
        }
    }
}
