@inject ComponentEventBus bus

<div>
    <span>#@Id</span>
    <input @bind-value="text" />
    <button @onclick="OnClick">Publish message</button>
</div>

@code {
    [Parameter] public int Id { get; set; }

    string text = "Hello";

    async Task OnClick() => await bus.Publish(new SimpleEvent(Id, text));
}
