@inject ComponentEventBus bus
@implements IDisposable

<tr>
    <td>Parameter</td>

    <td>@text</td>

    <td></td>
</tr>

@code {
    [Parameter] public SummaryInputModel Item { get; set; }

    string text => $"{Item.Name} = {Item.Value}";



    protected override void OnInitialized()
    {
        bus.Subscribe<InputValueChangeEvent>(InputValueChangeHandler);
    }
    void IDisposable.Dispose()
    {
        bus.Unsubscribe(InputValueChangeHandler);
    }


    void InputValueChangeHandler(IComponentEvent @event)
    {
        var msg = @event as InputValueChangeEvent;

        if (Item.Id != msg.Id)
            return;

        Item.Value = msg.Value;
        StateHasChanged();
    }

}
