tr {
    position: sticky;
    top: 0;
    background-color: hsl(var(--hue),100%,90%);
    color: hsl(var(--hue),100%,20%);
    border-bottom: 2px solid gray;
    z-index: 1;
}

th {
    padding-block: .25em;
    text-align: left;
}

.warehouse-header-row__id {
    width: 3em;
    text-align: center
}

.warehouse-header-row__quantity {
    width: 8em;
    text-align: center;
}
