@page "/counter"

@inject ComponentEventBus bus
@implements IDisposable

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        bus.UnsubscribeAll();
        bus.Subscribe<TestEvent>(TestHandler);
    }


    void IDisposable.Dispose()
    {
        bus.Unsubscribe(TestHandler);
    }

    private async Task IncrementCount()
    {
        currentCount++;
        await bus.Publish<TestEvent>(new(currentCount));
    }

    void TestHandler(IComponentEvent e)
    {
        var test = e as TestEvent;
        Console.WriteLine("Test: " + test.Id.ToString());
    }
}
