@page "/"

@inject ComponentEventBus bus
@implements IDisposable

<div class="product__wrapper">

    <div class="product__catalog">
        <CatalogComponent />
    </div>

    <div class="product__warehouse">
        <WarehouseComponent />
    </div>

    <div class="product__shop">
        <ShopComponent />
    </div>

    <div class="product__report">
        <ReportComponent />
    </div>

</div>

@code{
    void IDisposable.Dispose()
    {
        bus.UnsubscribeAll();
    }
}