.product__wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 30% calc(50% - 2em) 20%;
    grid-template-columns: 1fr 30%;
    grid-template-areas:
        "catalog warehouse"
        "shop shop"
        "report report";
    gap: 1em;
    padding-block: 1em;
}

.product__catalog {
    grid-area: catalog;
}

.product__warehouse {
    grid-area: warehouse;
}

.product__shop {
    grid-area: shop;
}

.product__report {
    grid-area: report;
    min-height: 10vh;
}
