tr {
    position: sticky;
    top: 0;
    background-color: hsl(var(--hue),100%,90%);
    color: hsl(var(--hue),100%,20%);
    border-bottom: 2px solid gray;
    z-index: 1;
}

th {
    padding-block: .25em;
    text-align: left;
}

.catalog-header-row__id {
    width: 3em;
    text-align: center;
}

.catalog-header-row__name {
    width: 20%;
}

.catalog-header-row__category {
    width: 8em;
    text-align: center;
}

.catalog-header-row__color {
    width: 6em;
    text-align: center;
}

.catalog-header-row__sales {
    width: 5em;
    text-align: center;
}

.catalog-header-row__options {
    width: 7em;
    text-align: center;
}
