th {
    border-bottom: 2px solid gray;
    text-align: left;
    color: darkslategray;
}

.catalog-header-row__id {
    width: 3em;
    text-align: center;
}

.catalog-header-row__name {
    width: 20%;
}

.catalog-header-row__category {
    width: 8em;
    text-align: center;
}

.catalog-header-row__color {
    width: 6em;
    text-align: center;
}

.catalog-header-row__sales {
    width: 5em;
    text-align: center;
}

.catalog-header-row__options {
    width: 7em;
    text-align: center;
}
