
td {
    border-top: 1px solid lightgray;
    padding: .25em .5em;
}

.catalog-item__cell--id,
.catalog-item__cell--category {
    text-align: center;
}

.catalog-item__cell--color div{
    display: flex;
    justify-content: center;
}

.catalog-item__color {
    width: 3em;
    height: 2em;
    border-radius: .25em;
}
