.report__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-column-gap: 2em;
    --hue: 80;
    background-color: hsl(var(--hue),100%,95%);
    padding: 1em;
    height: 100%;
}

h3 {
    text-align: center;
    color: hsl(var(--hue),100%,25%);
    margin-bottom: .25em;
}
